In [9]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint
from citipy import citipy
google_key = "AIzaSyDubACn8znUe4hhiYngcoAbwunpyub84uI"

# Configuration
gmaps.configure(google_key)

In [10]:
# Link to Weatherpy Output Data
csv_path = os.path.join("..","output_data","Weather_Forecast.csv")

# read in WeatherPy forecast data CSV file
city_data = pd.read_csv(csv_path)
display(city_data)

,Unnamed: 0,City Name,Latitude,Longitude,Country,UTC +/- (Hours),Max Temperature,Humidity,Cloudiness,Wind Speed
0,0,Tautira,-17.7333,-149.1500,PF,-10.0,82.42,77,26,16.04
1,1,Butaritari,3.0707,172.7902,KI,12.0,84.16,70,9,20.83
2,2,Tezu,27.9167,96.1667,IN,5.5,94.77,53,40,4.21
3,3,Lüderitz,-26.6481,15.1594,NaN,2.0,63.01,58,0,20.54
4,4,Teknāf,20.8624,92.3058,BD,6.0,86.90,70,80,19.69
...,...,...,...,...,...,...,...,...,...,...
678,678,Verkhnyaya Toyma,62.2349,44.9985,RU,3.0,50.52,71,95,6.44
679,679,Seeboden,46.8219,13.4950,AT,2.0,73.54,50,72,5.12
680,680,Anloga,5.7947,0.8973,GH,0.0,80.08,81,100,15.61
681,681,Tanete,-3.9443,119.7848,ID,8.0,86.16,67,98,7.65
682,682,Lingao,19.9103,109.6859,CN,8.0,88.66,61,35,8.63

In [20]:
# Plot heatmap of city humidity on google maps
city_locs = city_data[["Latitude","Longitude"]]
humidity = city_data["Humidity"]

fig = gmaps.figure()

humidity_layer = gmaps.heatmap_layer(city_locs,weights=humidity,
                                     dissipating=False,max_intensity =100,
                                     point_radius=1)
fig.add_layer(humidity_layer)
display(fig)

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Filter vacation spots
city_data = city_data.loc[(city_data["Max Temperature"] <= 100) & (city_data["Max Temperature"] >= 50) & (city_data["Country"] == "US") & (city_data["Wind Speed"]<20) & (city_data["Wind Speed"]>10) & (city_data["Cloudiness"] < 50)]
display(city_data)

,Unnamed: 0,City Name,Latitude,Longitude,Country,UTC +/- (Hours),Max Temperature,Humidity,Cloudiness,Wind Speed,Hotel Name
10,10,Kapaa,22.0752,-159.3190,US,-10.0,80.11,63,33,18.12,
33,33,Hays,30.0502,-98.0336,US,-5.0,94.53,46,22,14.29,
61,61,Lompoc,34.6391,-120.4579,US,-7.0,76.23,67,1,12.64,
66,66,Hilo,19.7297,-155.0900,US,-10.0,77.86,75,32,10.09,
96,96,Gallup,35.5281,-108.7426,US,-6.0,82.67,27,5,15.37,
106,106,Dumas,35.8656,-101.9732,US,-5.0,77.76,56,49,16.22,
160,160,Elko,41.0002,-115.5012,US,-7.0,84.06,10,0,10.96,
224,224,North Myrtle Beach,33.8160,-78.6800,US,-4.0,81.73,51,3,10.47,
227,227,Lincoln,40.8000,-96.6670,US,-5.0,76.32,62,35,11.25,
281,281,Kahului,20.8947,-156.4700,US,-10.0,83.39,63,21,14.90,
289,289,Mitchell,43.7094,-98.0298,US,-5.0,77.76,48,45,10.92,
358,358,Dickinson,29.4608,-95.0513,US,-5.0,93.87,56,45,10.98,
492,492,San Patricio,28.0170,-97.5169,US,-5.0,94.51,42,10,16.69,
543,543,Brownsville,25.9018,-97.4975,US,-5.0,95.27,45,21,17.58,
588,588,Kerrville,30.0474,-99.1403,US,-5.0,92.86,45,7,13.35,
605,605,Lexington,37.9887,-84.4777,US,-4.0,80.96,57,39,13.18,
651,651,Saint Anthony,45.0205,-93.2180,US,-5.0,76.80,44,17,13.38,

In [58]:
city_data["Hotel Name"] = ""
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 

for index,row in city_data.iterrows():
    try:
        target_coordinates = f"{row['Latitude']}, {row['Longitude']}"
        target_search = "Hotel"
        target_radius = 5000
        target_type = "lodging"
        
        # set up a parameters dictionary
        params = {
            "location": target_coordinates,
            "keyword": target_search,
            "radius": target_radius,
            "type": target_type,
            "key": google_key
        }
        # run a request using our params dictionary
        response = requests.get(url, params=params).json()
        hotel = response["results"][0]["name"]
        city_data.loc[index,"Hotel Name"] = hotel
        print(f"One hotel in {row['City Name']} is {hotel}")
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [59]:
display(city_data)

,Unnamed: 0,City Name,Latitude,Longitude,Country,UTC +/- (Hours),Max Temperature,Humidity,Cloudiness,Wind Speed,Hotel Name
10,10,Kapaa,22.0752,-159.3190,US,-10.0,80.11,63,33,18.12,
33,33,Hays,30.0502,-98.0336,US,-5.0,94.53,46,22,14.29,
61,61,Lompoc,34.6391,-120.4579,US,-7.0,76.23,67,1,12.64,
66,66,Hilo,19.7297,-155.0900,US,-10.0,77.86,75,32,10.09,
96,96,Gallup,35.5281,-108.7426,US,-6.0,82.67,27,5,15.37,
106,106,Dumas,35.8656,-101.9732,US,-5.0,77.76,56,49,16.22,
160,160,Elko,41.0002,-115.5012,US,-7.0,84.06,10,0,10.96,
224,224,North Myrtle Beach,33.8160,-78.6800,US,-4.0,81.73,51,3,10.47,
227,227,Lincoln,40.8000,-96.6670,US,-5.0,76.32,62,35,11.25,
281,281,Kahului,20.8947,-156.4700,US,-10.0,83.39,63,21,14.90,
289,289,Mitchell,43.7094,-98.0298,US,-5.0,77.76,48,45,10.92,
358,358,Dickinson,29.4608,-95.0513,US,-5.0,93.87,56,45,10.98,
492,492,San Patricio,28.0170,-97.5169,US,-5.0,94.51,42,10,16.69,
543,543,Brownsville,25.9018,-97.4975,US,-5.0,95.27,45,21,17.58,
588,588,Kerrville,30.0474,-99.1403,US,-5.0,92.86,45,7,13.35,
605,605,Lexington,37.9887,-84.4777,US,-4.0,80.96,57,39,13.18,
651,651,Saint Anthony,45.0205,-93.2180,US,-5.0,76.80,44,17,13.38,

In [ ]:
#Create hotel markers