In [11]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint
from citipy import citipy
google_key = "AIzaSyDubACn8znUe4hhiYngcoAbwunpyub84uI"

# Configuration
gmaps.configure(google_key)

In [12]:
# Link to Weatherpy Output Data
csv_path = os.path.join("..","output_data","Weather_Forecast.csv")

# read in WeatherPy forecast data CSV file
city_data = pd.read_csv(csv_path)
display(city_data)

,Unnamed: 0,City Name,Latitude,Longitude,Country,UTC +/- (Hours),Max Temperature,Humidity,Cloudiness,Wind Speed
0,0,Tautira,-17.7333,-149.1500,PF,-10.0,82.42,77,26,16.04
1,1,Butaritari,3.0707,172.7902,KI,12.0,84.16,70,9,20.83
2,2,Tezu,27.9167,96.1667,IN,5.5,94.77,53,40,4.21
3,3,Lüderitz,-26.6481,15.1594,NaN,2.0,63.01,58,0,20.54
4,4,Teknāf,20.8624,92.3058,BD,6.0,86.90,70,80,19.69
...,...,...,...,...,...,...,...,...,...,...
678,678,Verkhnyaya Toyma,62.2349,44.9985,RU,3.0,50.52,71,95,6.44
679,679,Seeboden,46.8219,13.4950,AT,2.0,73.54,50,72,5.12
680,680,Anloga,5.7947,0.8973,GH,0.0,80.08,81,100,15.61
681,681,Tanete,-3.9443,119.7848,ID,8.0,86.16,67,98,7.65
682,682,Lingao,19.9103,109.6859,CN,8.0,88.66,61,35,8.63